@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: white;
  --color-secondary: black;
  --color-base-100: #000;
  --color-base-200: #111111;
  --color-base-300: #222222;
}
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: black;
  --color-secondary: black;
  --color-base-100: #fff;
  --color-base-200: #cccccc;
  --color-base-300: #aaaaaa;
}

@theme {
  --color-muted: #999999;
  --color-primary: #222222;
  --color-primary-content: #ffffff;
}
